<h4 class="heading">Create New Client</h4>
<div class="row">
  <form
    class="col s12"
    [formGroup]="createClientForm"
    (ngSubmit)="onSubmit()"
    novalidate
  >
    <div class="row">
      <div class="input-field col s6">
        <input
          id="firstName"
          class="validate"
          type="text"
          pattern="^[A-Za-z]*$"
          formControlName="firstName"
          required
        />
        <label for="firstName">First Name</label>
        <span
          *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)"
        >
          <span
            class="helper-text"
            data-error="Field is required."
            *ngIf="firstName?.errors?.['required']"
          ></span>
          <span
            class="helper-text red-text"
            *ngIf="firstName?.errors?.['pattern']"
            >Not a valid first name</span
          >
        </span>
      </div>
      <div class="input-field col s6">
        <input
          id="lastName"
          class="validate"
          type="text"
          pattern="^[A-Za-z]*$"
          formControlName="lastName"
          required
        />
        <label for="lastName">Last Name</label>
        <span
          *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)"
        >
          <span
            class="helper-text"
            data-error="Field is required."
            *ngIf="lastName?.errors?.['required']"
          ></span>
          <span
            class="helper-text red-text"
            *ngIf="lastName?.errors?.['pattern']"
            >Not a valid last name</span
          >
        </span>
      </div>
    </div>
    <div class="row" formGroupName="contactInfo">
      <div class="input-field col s4">
        <input
          id="homeNumber"
          class="validate"
          type="text"
          pattern="^[0-9]*$"
          formControlName="home"
        />
        <label for="homeNumber">Home Number</label>
        <span
          *ngIf="
            contactInfo?.invalid && (contactInfo?.dirty || contactInfo?.touched)
          "
        >
          <span
            class="helper-text red-text"
            *ngIf="contactInfo?.errors?.['required']"
            >At least 1 number is required</span
          >
          <span class="helper-text red-text" *ngIf="home?.errors?.['pattern']"
            >Not a valid phone number</span
          >
        </span>
      </div>
      <div class="input-field col s4">
        <input
          id="workNumber"
          class="validate"
          type="text"
          pattern="^[0-9]*$"
          formControlName="work"
        />
        <label for="workNumber">Work Number</label>
        <span
          *ngIf="
            contactInfo?.invalid && (contactInfo?.dirty || contactInfo?.touched)
          "
        >
          <span
            class="helper-text red-text"
            *ngIf="contactInfo?.errors?.['required']"
            >At least 1 number is required</span
          >
          <span class="helper-text red-text" *ngIf="work?.errors?.['pattern']"
            >Not a valid phone number</span
          >
        </span>
      </div>
      <div class="input-field col s4">
        <input
          id="mobileNumber"
          class="validate"
          type="text"
          pattern="^[0-9]*$"
          formControlName="mobile"
        />
        <label for="mobileNumber">Mobile Number</label>
        <span
          *ngIf="
            contactInfo?.invalid && (contactInfo?.dirty || contactInfo?.touched)
          "
        >
          <span
            class="helper-text red-text"
            *ngIf="contactInfo?.errors?.['required']"
            >At least 1 number is required</span
          >
          <span class="helper-text red-text" *ngIf="mobile?.errors?.['pattern']"
            >Not a valid phone number</span
          >
        </span>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input
          id="address"
          class="validate"
          type="text"
          formControlName="address"
          required
        />
        <label for="address">Address</label>
        <span class="helper-text" data-error="Field is required."></span>
      </div>
      <div class="input-field col s6">
        <input
          id="email"
          class="validate"
          type="email"
          formControlName="email"
          required
        />
        <label for="email">Email</label>
        <span *ngIf="email?.invalid && (email?.dirty || email?.touched)">
          <span class="helper-text red-text" *ngIf="email?.errors?.['required']"
            >Field is required</span
          >
          <span class="helper-text red-text" *ngIf="email?.errors?.['email']"
            >Enter a valid email</span
          >
        </span>
      </div>
    </div>
    <div class="row center-align">
      <div class="input-field col s6">
        <button
          type="submit"
          class="btn right"
          [disabled]="createClientForm.invalid"
        >
          Submit
        </button>
      </div>
      <div class="input-field col s6">
        <button class="btn grey left" routerLink="/clients">Cancel</button>
      </div>
    </div>
  </form>
</div>
